/*table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background: white;
}
th{
    border: 1px red solid;
    height: 30px;
    background: #15be46;
}
table{
    width: 70%;
    margin-left: 15%;
}
td.footer{
    height: 30px;
    color: red;
}
li.menu-item{
    padding: 10px 15px;
    margin: 0px -2px;
}

body{
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
    padding-left: 15%;
}
img.gallery-first{
    width: 33%;
    height: 300px;
}
img.gallery-second{
    width: 33%;
    height: 300px;
}
img.gallery-third{
    width: 33%;
    height: 300px;
}
p, h3, div.title{
    text-align: center;
}
li.footer-menu-item{
    color: white;
    text-decoration: none;
}
ul.footer-contact {
    width: 30%;
    list-style: none;
    float: right;
    text-align: right;

}
ul.footer-nav {
    width: 30%;
    list-style: none;
    float: left;
    text-align: left;
}
h6{
    text-align: center;
    color: white;
}
div.content{
    min-height: 800px;
}
footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 80px;
    padding-left: 15%;
}*/
li{
    float: left;
    padding: 10px 16px;
    display: block;
    text-align: center;
}
li a{
    text-decoration: none;
    color: white;
}
li:hover{
    text-decoration: none;
    background: #444;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: black;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
img.slider-image{
    width: 600px;
    height: 300px;
}