li{
    float: left;
    padding: 10px 16px;
    display: block;
    text-align: center;
}
li a{
    text-decoration: none;
    color: white;
}
li:hover{
    text-decoration: none;
    background: #444;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background: black;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
img.slider-image{
    width: 600px;
    height: 300px;
}